*{
    margin: 0;
    padding: 0;
}

body{
    border-top: 10px solid #cac7c7;
}

.container{
    width: 80%;
    margin: auto;
}

.container h1{
    font-size: 4vw;
    text-align: center;
}

.informacion{
    border: 1px solid black;
}

.informacion h2{
    font-size: 2vw;
}