*{
    margin: 0;
    padding: 0;
}

body{
    border-top: 10px solid #cac7c7;
}

.container{
    width: 80%;
    border: 1px solid black;
    margin: auto;
}

.container h1{
    text-align: center;
}